table, th, td, body {
    border: ridge;
    padding: 10px;
    font-size: 20px;
   background-color: rgb(170, 255, 0);
}

input, option {
    border: rgb(7, 7, 7);
 border-color: rgb(211, 8, 8);

}

img {
    max-width: 50px;
    height: 50px;
  }